In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("HistoricalQuotes.csv")

In [3]:
df

           date   close         volume     open      high       low
0         16:00  200.99     24,619,446  201.230  202.7600  199.2900
1    2019/08/09  200.99  24619750.0000  201.300  202.7600  199.2900
2    2019/08/08  203.43  27009520.0000  200.200  203.5300  199.3900
3    2019/08/07  199.04  33364400.0000  195.410  199.5600  193.8200
4    2019/08/06  197.00  35824790.0000  196.310  198.0670  194.0400
5    2019/08/05  193.34  52392970.0000  197.990  198.6490  192.5800
6    2019/08/02  204.02  40862120.0000  205.530  206.4300  201.6300
7    2019/08/01  208.43  54017920.0000  213.900  218.0300  206.7435
8    2019/07/31  213.04  69281360.0000  216.420  221.3700  211.3000
9    2019/07/30  208.78  33935720.0000  208.760  210.1600  207.3100
10   2019/07/29  209.68  21673390.0000  208.460  210.6400  208.4400
11   2019/07/26  207.74  17618870.0000  207.480  209.7300  207.1400
12   2019/07/25  207.02  13909560.0000  208.890  209.2400  206.7300
13   2019/07/24  208.67  14991570.0000  207.670  209.1500  207.1700
14   2019/07/23  208.84  18355210.0000  208.460  208.9100  207.2900
15   2019/07/22  207.22  22277930.0000  203.650  207.2300  203.6100
16   2019/07/19  202.59  20929310.0000  205.790  206.5000  202.3600
17   2019/07/18  205.66  18582160.0000  204.000  205.8800  203.7000
18   2019/07/17  203.35  14107450.0000  204.050  205.0915  203.2700
19   2019/07/16  204.50  16866820.0000  204.590  206.1100  203.5000
20   2019/07/15  205.21  16947420.0000  204.090  205.8700  204.0000
21   2019/07/12  203.30  17595210.0000  202.450  204.0000  202.2000
22   2019/07/11  201.75  20191840.0000  203.310  204.3900  201.7100
23   2019/07/10  203.23  17897140.0000  201.850  203.7300  201.5600
24   2019/07/09  201.24  20578020.0000  199.200  201.5100  198.8100
25   2019/07/08  200.02  25338630.0000  200.810  201.4000  198.4100
26   2019/07/05  204.23  17265520.0000  203.350  205.0800  202.9000
27   2019/07/03  204.41  11362050.0000  203.280  204.4400  202.6901
28   2019/07/02  202.73  16935220.0000  201.410  203.1323  201.3600
29   2019/07/01  201.55  27316740.0000  203.170  204.4900  200.6500
..          ...     ...            ...      ...       ...       ...
223  2018/09/20  220.03  26388050.0000  220.240  222.2800  219.1500
224  2018/09/19  218.37  26869880.0000  218.500  219.6200  215.3000
225  2018/09/18  218.24  31495630.0000  217.790  221.8500  217.1200
226  2018/09/17  217.88  36810120.0000  222.150  222.9500  217.2700
227  2018/09/14  223.84  31801970.0000  225.750  226.8400  222.5220
228  2018/09/13  226.41  41411350.0000  223.520  228.3500  222.5700
229  2018/09/12  221.07  49118510.0000  224.940  225.0000  219.8400
230  2018/09/11  223.85  35644510.0000  218.010  224.2990  216.5600
231  2018/09/10  218.33  39194720.0000  220.950  221.8500  216.4700
232  2018/09/07  221.30  37418910.0000  221.850  225.3700  220.7100
233  2018/09/06  223.10  34121240.0000  226.230  227.3500  221.3000
234  2018/09/05  226.87  33290830.0000  228.990  229.6700  225.1000
235  2018/09/04  228.36  27363960.0000  228.410  229.1800  226.6300
236  2018/08/31  227.63  43177540.0000  226.510  228.8700  226.0000
237  2018/08/30  225.03  48696960.0000  223.250  228.2600  222.4000
238  2018/08/29  222.98  27074260.0000  220.150  223.4900  219.4100
239  2018/08/28  219.70  22751390.0000  219.010  220.5400  218.9200
240  2018/08/27  217.94  20400770.0000  217.150  218.7400  216.3300
241  2018/08/24  216.16  18457720.0000  216.600  216.9000  215.1100
242  2018/08/23  215.49  18505780.0000  214.650  217.0500  214.6000
243  2018/08/22  215.05  18965930.0000  214.100  216.3600  213.8400
244  2018/08/21  215.04  25682700.0000  216.800  217.1900  214.0250
245  2018/08/20  215.46  30149410.0000  218.100  219.1800  215.1100
246  2018/08/17  217.58  35034410.0000  213.440  217.9500  213.1600
247  2018/08/16  213.32  27595310.0000  211.750  213.8121  211.4700
248  2018/08/15  210.24  28595230.0000  209.220  210.7400  208.3300
249  2018/08/14  209.75  20679270.0000  210.155  210.5600  208.2600
250  2018/08/13  208.87  25864510.0000  207.700  210.9520  207.7000
251  2018/08/10  207.53  24592460.0000  207.360  209.1000  206.6700
252  2018/08/09  208.88  23389530.0000  207.280  209.7800  207.2000

[253 rows x 6 columns]

In [4]:
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq="D")

In [5]:
rng

DatetimeIndex(['2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03',
               '2019-07-04', '2019-07-05', '2019-07-06', '2019-07-07',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-13', '2019-07-14', '2019-07-15',
               '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-19',
               '2019-07-20', '2019-07-21', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-27',
               '2019-07-28', '2019-07-29', '2019-07-30', '2019-07-31',
               '2019-08-01'],
              dtype='datetime64[ns]', freq='D')

In [6]:
from pandas.tseries.holiday import USFederalHolidayCalendar

In [7]:
from pandas.tseries.offsets import CustomBusinessDay

In [8]:
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [9]:
usb

In [10]:
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq=usb)

In [11]:
rng

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-05',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='C')

In [12]:
from pandas.tseries.holiday import Holiday,AbstractHolidayCalendar,nearest_workday

In [13]:
class mybday(AbstractHolidayCalendar):
    rules = [Holiday('New Years Day', month=7, day=5)]

In [14]:
usb=CustomBusinessDay(calendar=mybday())

In [15]:
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq=usb)

In [16]:
rng

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='C')

In [17]:
class mybday(AbstractHolidayCalendar):
    rules = [Holiday('New Years Day', month=7, day=5,observance=nearest_workday)]

In [18]:
usb=CustomBusinessDay(calendar=mybday())

In [19]:
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq=usb)

In [20]:
rng

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='C')

In [21]:
from pandas.tseries.holiday import Holiday,AbstractHolidayCalendar,next_monday
class mybday(AbstractHolidayCalendar):
    rules = [Holiday('New Years Day', month=7, day=5,observance=next_monday)]
usb=CustomBusinessDay(calendar=mybday())
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq=usb)
rng

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='C')

In [22]:
business_workingdays = "Sun Mon Tue Wed Thu"

In [23]:
b = CustomBusinessDay(weekmask=business_workingdays)

In [24]:
pd.date_range(start="2019-06-30",periods=30,freq=b)

DatetimeIndex(['2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03',
               '2019-07-04', '2019-07-07', '2019-07-08', '2019-07-09',
               '2019-07-10', '2019-07-11', '2019-07-14', '2019-07-15',
               '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-21',
               '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25',
               '2019-07-28', '2019-07-29', '2019-07-30', '2019-07-31',
               '2019-08-01', '2019-08-04', '2019-08-05', '2019-08-06',
               '2019-08-07', '2019-08-08'],
              dtype='datetime64[ns]', freq='C')

In [25]:
y=pd.Period(2010)

In [26]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [27]:
y.start_time

Timestamp('2010-01-01 00:00:00')

In [28]:
y.end_time

Timestamp('2010-12-31 23:59:59.999999999')

In [29]:
y=pd.Period(2010,"M")

In [30]:
y

Period('2010-01', 'M')

In [31]:
y.start_time

Timestamp('2010-01-01 00:00:00')

In [32]:
y=pd.Period(2010+2,"M")

In [33]:
y.start_time

Timestamp('2012-01-01 00:00:00')

In [34]:
y.end_time

Timestamp('2012-01-31 23:59:59.999999999')

In [35]:
y+1

Period('2012-02', 'M')

In [36]:
m=pd.Period(2010+2,"M")

In [37]:
m

Period('2012-01', 'M')

In [38]:
m+1

Period('2012-02', 'M')

In [39]:
h=pd.Period('2010-01-01  00:00:11',freq='H')

In [40]:
h

Period('2010-01-01 00:00', 'H')

In [41]:
k=h+pd.offsets.Hour(5)

In [42]:
k

Period('2010-01-01 05:00', 'H')

In [43]:
q=pd.Period('2017Q1')

In [44]:
q

Period('2017Q1', 'Q-DEC')

In [45]:
q=pd.Period('2017Q2')
q

Period('2017Q2', 'Q-DEC')

In [46]:
q=pd.Period('2017Q2', freq='Q-JAN')
q

Period('2017Q2', 'Q-JAN')

In [47]:
q.start_time

Timestamp('2016-05-01 00:00:00')

In [48]:
q.asfreq('M',how='start')

Period('2016-05', 'M')

In [49]:
q.asfreq('M',how='end')

Period('2016-07', 'M')

In [50]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [51]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [52]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [53]:
w2-w

In [54]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [55]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [56]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [57]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [58]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [59]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [60]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

/home/angicia/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Creating a PeriodIndex by passing range endpoints is deprecated.  Use `pandas.period_range` instead.
  """Entry point for launching an IPython kernel.

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]', freq='3M')

In [61]:
import numpy as np

In [62]:
ps = pd.Series(np.random.randn(len(r)), r)

In [63]:
ps

2016-01   -0.576107
2016-04   -0.974256
2016-07    1.525281
2016-10    1.852311
2017-01   -0.279786
2017-04   -0.520580
2017-07    0.283390
2017-10   -0.255128
2018-01    1.021877
2018-04    0.725162
Freq: 3M, dtype: float64

In [64]:
ps['2016']

2016-01   -0.576107
2016-04   -0.974256
2016-07    1.525281
2016-10    1.852311
2017-01   -0.279786
Freq: 3M, dtype: float64

In [65]:
pst = ps.to_timestamp()
pst

2016-01-01   -0.576107
2016-04-01   -0.974256
2016-07-01    1.525281
2016-10-01    1.852311
2017-01-01   -0.279786
2017-04-01   -0.520580
2017-07-01    0.283390
2017-10-01   -0.255128
2018-01-01    1.021877
2018-04-01    0.725162
Freq: QS-OCT, dtype: float64

In [66]:
pst.index

DatetimeIndex(['2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [67]:
ps = pst.to_period()
ps

2016Q1   -0.576107
2016Q2   -0.974256
2016Q3    1.525281
2016Q4    1.852311
2017Q1   -0.279786
2017Q2   -0.520580
2017Q3    0.283390
2017Q4   -0.255128
2018Q1    1.021877
2018Q2    0.725162
Freq: Q-DEC, dtype: float64

In [68]:
ps.index

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')